@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  color: #333;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/* サイト全体のコンテンツ幅を設定 */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* 中のコンテンツ部分の最大幅を設定 */
.inner {
  max-width: 800px;
  margin: 0 auto;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}