@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  background-color: #f4f9ff;
  color: #333;
}

img {
  max-width: 100%;
}

/* サイト全体のコンテンツ幅を設定 */
.container {
  max-width: 1000px;
  margin: 0 auto;
}