@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  background-color: #f4f9ff;
  color: #333;
}

img {
  max-width: 100%;
}

/* サイト全体のコンテンツ幅を設定 */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* 中のコンテンツ部分の最大幅を設定 */
.inner {
  max-width: 600px;
  margin: 0 auto;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* ヘッダー */
#header {
  margin-top: 60px;
}

#header .site-title {
  width: 160px;
  line-height: 1px;
  margin-bottom: 15px;
}

#header .site-title a {
  display: block;
}
/* /ヘッダー */

/* メインビジュアル */
#mainvisual {
  margin-bottom: 60px;
}
/* /メインビジュアル */

/* レスポンシブ */
@media screen and (max-width: 1024px) {
  .inner {
    padding: 0 40px;
  }

  /* ヘッダー */
  #header {
    padding: 0 10px;
  }
  /* /ヘッダー */

  /* メインビジュアル */
  #mainvisual {
    padding: 0 10px;
  }
  /* /メインビジュアル */
}